# Build files
eftpclient
eftpserver
*.o

# Test files
hare.jpg
snooze.mp3
snowfall.mp4
1KB.txt
4KB.txt
8KB.txt
16KB.txt
767.txt
notes.zip

# Workspace config files
c_cpp_properties.json
.vscode/

# Funky ssh files
.nfs*